---
swagger: "2.0"
info:
  version: Cable
  title: gateway.marvel.com
host: gateway.marvel.com
basePath: /
tags:
- name: public
schemes:
- http
paths:
  /v1/public/characters:
    get:
      tags:
      - public
      summary: Fetches lists of characters.
      description: Fetches lists of comic characters with optional filters. See notes on individual parameters below.
      operationId: getCreatorCollection
      parameters:
      - name: name
        in: query
        description: Return only characters matching the specified full character name (e.g. Spider-Man).
        required: false
        type: string
      - name: nameStartsWith
        in: query
        description: Return characters with names that begin with the specified string (e.g. Sp).
        required: false
        type: string
      - name: modifiedSince
        in: query
        description: Return only characters which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: comics
        in: query
        description: Return only characters which appear in the specified comics (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: series
        in: query
        description: Return only characters which appear the specified series (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: events
        in: query
        description: Return only characters which appear in the specified events (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only characters which appear the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/CharacterDataWrapper'
  /v1/public/characters/{characterId}:
    get:
      tags:
      - public
      summary: Fetches a single character by id.
      description: This method fetches a single character resource.  It is the canonical URI for any character resource provided by the API.
      operationId: getCharacterIndividual
      parameters:
      - name: characterId
        in: path
        description: A single character id.
        required: true
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/CharacterDataWrapper'
  /v1/public/characters/{characterId}/comics:
    get:
      tags:
      - public
      summary: Fetches lists of comics filtered by a character id.
      description: Fetches lists of comics containing a specific character, with optional filters. See notes on individual parameters below.
      operationId: getComicsFilteredByCharacter
      parameters:
      - name: characterId
        in: path
        description: The character id.
        required: true
        type: integer
        format: int32
      - name: format
        in: query
        description: Filter by the issue format (e.g. comic, digital comic, hardcover).
        required: false
        type: string
      - name: formatType
        in: query
        description: Filter by the issue format type (comic or collection).
        required: false
        type: string
      - name: noVariants
        in: query
        description: Exclude variant comics from the result set.
        required: false
        type: boolean
      - name: dateDescriptor
        in: query
        description: Return comics within a predefined date range.
        required: false
        type: string
      - name: dateRange
        in: query
        description: Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: title
        in: query
        description: Return only issues in series whose title matches the input.
        required: false
        type: string
      - name: titleStartsWith
        in: query
        description: Return only issues in series whose title starts with the input.
        required: false
        type: string
      - name: startYear
        in: query
        description: Return only issues in series whose start year matches the input.
        required: false
        type: integer
        format: int32
      - name: issueNumber
        in: query
        description: Return only issues in series whose issue number matches the input.
        required: false
        type: integer
        format: int32
      - name: diamondCode
        in: query
        description: Filter by diamond code.
        required: false
        type: string
      - name: digitalId
        in: query
        description: Filter by digital comic id.
        required: false
        type: integer
        format: int32
      - name: upc
        in: query
        description: Filter by UPC.
        required: false
        type: string
      - name: isbn
        in: query
        description: Filter by ISBN.
        required: false
        type: string
      - name: ean
        in: query
        description: Filter by EAN.
        required: false
        type: string
      - name: issn
        in: query
        description: Filter by ISSN.
        required: false
        type: string
      - name: hasDigitalIssue
        in: query
        description: Include only results which are available digitally.
        required: false
        type: boolean
      - name: modifiedSince
        in: query
        description: Return only comics which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: creators
        in: query
        description: Return only comics which feature work by the specified creators (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: series
        in: query
        description: Return only comics which are part of the specified series (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: events
        in: query
        description: Return only comics which take place in the specified events (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only comics which contain the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: sharedAppearances
        in: query
        description: Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: collaborators
        in: query
        description: Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/ComicDataWrapper'
  /v1/public/characters/{characterId}/events:
    get:
      tags:
      - public
      summary: Fetches lists of events filtered by a character id.
      description: Fetches lists of events in which a specific character appears, with optional filters. See notes on individual parameters below.
      operationId: getCharacterEventsCollection
      parameters:
      - name: characterId
        in: path
        description: The character ID.
        required: true
        type: integer
        format: int32
      - name: name
        in: query
        description: Filter the event list by name.
        required: false
        type: string
      - name: nameStartsWith
        in: query
        description: Return events with names that begin with the specified string (e.g. Sp).
        required: false
        type: string
      - name: modifiedSince
        in: query
        description: Return only events which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: creators
        in: query
        description: Return only events which feature work by the specified creators (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: series
        in: query
        description: Return only events which are part of the specified series (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: comics
        in: query
        description: Return only events which take place in the specified comics (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only events which contain the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/EventDataWrapper'
  /v1/public/characters/{characterId}/series:
    get:
      tags:
      - public
      summary: Fetches lists of series filtered by a character id.
      description: Fetches lists of comic series in which a specific character appears, with optional filters. See notes on individual parameters below.
      operationId: getCharacterSeriesCollection
      parameters:
      - name: characterId
        in: path
        description: The character ID
        required: true
        type: integer
        format: int32
      - name: title
        in: query
        description: Filter by series title.
        required: false
        type: string
      - name: titleStartsWith
        in: query
        description: Return series with titles that begin with the specified string (e.g. Sp).
        required: false
        type: string
      - name: startYear
        in: query
        description: Return only series matching the specified start year.
        required: false
        type: integer
        format: int32
      - name: modifiedSince
        in: query
        description: Return only series which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: comics
        in: query
        description: Return only series which contain the specified comics (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only series which contain the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: events
        in: query
        description: Return only series which have comics that take place during the specified events (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: creators
        in: query
        description: Return only series which feature work by the specified creators (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: seriesType
        in: query
        description: Filter the series by publication frequency type.
        required: false
        type: string
      - name: contains
        in: query
        description: Return only series containing one or more comics with the specified format.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/SeriesDataWrapper'
  /v1/public/characters/{characterId}/stories:
    get:
      tags:
      - public
      summary: Fetches lists of stories filtered by a character id.
      description: Fetches lists of comic stories  featuring a specific character with optional filters. See notes on individual parameters below.
      operationId: getCharacterStoryCollection
      parameters:
      - name: characterId
        in: path
        description: The character ID.
        required: true
        type: integer
        format: int32
      - name: modifiedSince
        in: query
        description: Return only stories which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: comics
        in: query
        description: Return only stories contained in the specified (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: series
        in: query
        description: Return only stories contained the specified series (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: events
        in: query
        description: Return only stories which take place during the specified events (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: creators
        in: query
        description: Return only stories which feature work by the specified creators (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/StoryDataWrapper'
  /v1/public/comics:
    get:
      tags:
      - public
      summary: Fetches lists of comics.
      description: Fetches lists of comics with optional filters. See notes on individual parameters below.
      operationId: getComics
      parameters:
      - name: format
        in: query
        description: Filter by the issue format (e.g. comic, digital comic, hardcover).
        required: false
        type: string
      - name: formatType
        in: query
        description: Filter by the issue format type (comic or collection).
        required: false
        type: string
      - name: noVariants
        in: query
        description: Exclude variants (alternate covers, secondary printings, director's cuts, etc.) from the result set.
        required: false
        type: boolean
      - name: dateDescriptor
        in: query
        description: Return comics within a predefined date range.
        required: false
        type: string
      - name: dateRange
        in: query
        description: Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: title
        in: query
        description: Return only issues in series whose title matches the input.
        required: false
        type: string
      - name: titleStartsWith
        in: query
        description: Return only issues in series whose title starts with the input.
        required: false
        type: string
      - name: startYear
        in: query
        description: Return only issues in series whose start year matches the input.
        required: false
        type: integer
        format: int32
      - name: issueNumber
        in: query
        description: Return only issues in series whose issue number matches the input.
        required: false
        type: integer
        format: int32
      - name: diamondCode
        in: query
        description: Filter by diamond code.
        required: false
        type: string
      - name: digitalId
        in: query
        description: Filter by digital comic id.
        required: false
        type: integer
        format: int32
      - name: upc
        in: query
        description: Filter by UPC.
        required: false
        type: string
      - name: isbn
        in: query
        description: Filter by ISBN.
        required: false
        type: string
      - name: ean
        in: query
        description: Filter by EAN.
        required: false
        type: string
      - name: issn
        in: query
        description: Filter by ISSN.
        required: false
        type: string
      - name: hasDigitalIssue
        in: query
        description: Include only results which are available digitally.
        required: false
        type: boolean
      - name: modifiedSince
        in: query
        description: Return only comics which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: creators
        in: query
        description: Return only comics which feature work by the specified creators (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: characters
        in: query
        description: Return only comics which feature the specified characters (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: series
        in: query
        description: Return only comics which are part of the specified series (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: events
        in: query
        description: Return only comics which take place in the specified events (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only comics which contain the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: sharedAppearances
        in: query
        description: Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear). Accepts a comma-separated list of ids.
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: collaborators
        in: query
        description: Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work). Accepts a comma-separated list of ids.
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/ComicDataWrapper'
  /v1/public/comics/{comicId}:
    get:
      tags:
      - public
      summary: Fetches a single comic by id.
      description: This method fetches a single comic resource.  It is the canonical URI for any comic resource provided by the API.
      operationId: getComicIndividual
      parameters:
      - name: comicId
        in: path
        description: A single comic.
        required: true
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/ComicDataWrapper'
  /v1/public/comics/{comicId}/characters:
    get:
      tags:
      - public
      summary: Fetches lists of characters filtered by a comic id.
      description: Fetches lists of characters which appear in a specific comic with optional filters. See notes on individual parameters below.
      operationId: getComicCharacterCollection
      parameters:
      - name: comicId
        in: path
        description: The comic id.
        required: true
        type: integer
        format: int32
      - name: name
        in: query
        description: Return only characters matching the specified full character name (e.g. Spider-Man).
        required: false
        type: string
      - name: nameStartsWith
        in: query
        description: Return characters with names that begin with the specified string (e.g. Sp).
        required: false
        type: string
      - name: modifiedSince
        in: query
        description: Return only characters which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: series
        in: query
        description: Return only characters which appear the specified series (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: events
        in: query
        description: Return only characters which appear comics that took place in the specified events (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only characters which appear the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/CharacterDataWrapper'
  /v1/public/comics/{comicId}/creators:
    get:
      tags:
      - public
      summary: Fetches lists of creators filtered by a comic id.
      description: Fetches lists of comic creators whose work appears in a specific comic, with optional filters. See notes on individual parameters below.
      operationId: getCreatorsFilteredByComic
      parameters:
      - name: comicId
        in: path
        description: The comic id.
        required: true
        type: integer
        format: int32
      - name: firstName
        in: query
        description: Filter by creator first name (e.g. brian).
        required: false
        type: string
      - name: middleName
        in: query
        description: Filter by creator middle name (e.g. Michael).
        required: false
        type: string
      - name: lastName
        in: query
        description: Filter by creator last name (e.g. Bendis).
        required: false
        type: string
      - name: suffix
        in: query
        description: Filter by suffix or honorific (e.g. Jr., Sr.).
        required: false
        type: string
      - name: nameStartsWith
        in: query
        description: Filter by creator names that match critera (e.g. B, St L).
        required: false
        type: string
      - name: firstNameStartsWith
        in: query
        description: Filter by creator first names that match critera (e.g. B, St L).
        required: false
        type: string
      - name: middleNameStartsWith
        in: query
        description: Filter by creator middle names that match critera (e.g. Mi).
        required: false
        type: string
      - name: lastNameStartsWith
        in: query
        description: Filter by creator last names that match critera (e.g. Ben).
        required: false
        type: string
      - name: modifiedSince
        in: query
        description: Return only creators which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: comics
        in: query
        description: Return only creators who worked on in the specified comics (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: series
        in: query
        description: Return only creators who worked on the specified series (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only creators who worked on the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/CreatorDataWrapper'
  /v1/public/comics/{comicId}/events:
    get:
      tags:
      - public
      summary: Fetches lists of events filtered by a comic id.
      description: Fetches lists of events in which a specific comic appears, with optional filters. See notes on individual parameters below.
      operationId: getIssueEventsCollection
      parameters:
      - name: comicId
        in: path
        description: The comic ID.
        required: true
        type: integer
        format: int32
      - name: name
        in: query
        description: Filter the event list by name.
        required: false
        type: string
      - name: nameStartsWith
        in: query
        description: Return events with names that begin with the specified string (e.g. Sp).
        required: false
        type: string
      - name: modifiedSince
        in: query
        description: Return only events which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: creators
        in: query
        description: Return only events which feature work by the specified creators (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: characters
        in: query
        description: Return only events which feature the specified characters (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: series
        in: query
        description: Return only events which are part of the specified series (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only events which contain the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/EventDataWrapper'
  /v1/public/comics/{comicId}/stories:
    get:
      tags:
      - public
      summary: Fetches lists of stories filtered by a comic id.
      description: Fetches lists of comic stories in a specific comic issue, with optional filters. See notes on individual parameters below.
      operationId: getComicStoryCollection
      parameters:
      - name: comicId
        in: path
        description: The comic ID.
        required: true
        type: integer
        format: int32
      - name: modifiedSince
        in: query
        description: Return only stories which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: series
        in: query
        description: Return only stories contained the specified series (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: events
        in: query
        description: Return only stories which take place during the specified events (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: creators
        in: query
        description: Return only stories which feature work by the specified creators (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: characters
        in: query
        description: Return only stories which feature the specified characters (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/StoryDataWrapper'
  /v1/public/creators:
    get:
      tags:
      - public
      summary: Fetches lists of creators.
      description: Fetches lists of comic creators with optional filters. See notes on individual parameters below.
      operationId: getCreators
      parameters:
      - name: firstName
        in: query
        description: Filter by creator first name (e.g. Brian).
        required: false
        type: string
      - name: middleName
        in: query
        description: Filter by creator middle name (e.g. Michael).
        required: false
        type: string
      - name: lastName
        in: query
        description: Filter by creator last name (e.g. Bendis).
        required: false
        type: string
      - name: suffix
        in: query
        description: Filter by suffix or honorific (e.g. Jr., Sr.).
        required: false
        type: string
      - name: nameStartsWith
        in: query
        description: Filter by creator names that match critera (e.g. B, St L).
        required: false
        type: string
      - name: firstNameStartsWith
        in: query
        description: Filter by creator first names that match critera (e.g. B, St L).
        required: false
        type: string
      - name: middleNameStartsWith
        in: query
        description: Filter by creator middle names that match critera (e.g. Mi).
        required: false
        type: string
      - name: lastNameStartsWith
        in: query
        description: Filter by creator last names that match critera (e.g. Ben).
        required: false
        type: string
      - name: modifiedSince
        in: query
        description: Return only creators which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: comics
        in: query
        description: Return only creators who worked on in the specified comics (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: series
        in: query
        description: Return only creators who worked on the specified series (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: events
        in: query
        description: Return only creators who worked on comics that took place in the specified events (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only creators who worked on the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/CreatorDataWrapper'
  /v1/public/creators/{creatorId}:
    get:
      tags:
      - public
      summary: Fetches a single creator by id.
      description: This method fetches a single creator resource.  It is the canonical URI for any creator resource provided by the API.
      operationId: getCreatorIndividual
      parameters:
      - name: creatorId
        in: path
        description: A single creator id.
        required: true
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/CreatorDataWrapper'
  /v1/public/creators/{creatorId}/comics:
    get:
      tags:
      - public
      summary: Fetches lists of comics filtered by a creator id.
      description: Fetches lists of comics in which the work of a specific creator appears, with optional filters. See notes on individual parameters below.
      operationId: getComicsFilteredByCreator
      parameters:
      - name: creatorId
        in: path
        description: The creator ID.
        required: true
        type: integer
        format: int32
      - name: format
        in: query
        description: Filter by the issue format (e.g. comic, digital comic, hardcover).
        required: false
        type: string
      - name: formatType
        in: query
        description: Filter by the issue format type (comic or collection).
        required: false
        type: string
      - name: noVariants
        in: query
        description: Exclude variant comics from the result set.
        required: false
        type: boolean
      - name: dateDescriptor
        in: query
        description: Return comics within a predefined date range.
        required: false
        type: string
      - name: dateRange
        in: query
        description: Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: title
        in: query
        description: Return only issues in series whose title matches the input.
        required: false
        type: string
      - name: titleStartsWith
        in: query
        description: Return only issues in series whose title starts with the input.
        required: false
        type: string
      - name: startYear
        in: query
        description: Return only issues in series whose start year matches the input.
        required: false
        type: integer
        format: int32
      - name: issueNumber
        in: query
        description: Return only issues in series whose issue number matches the input.
        required: false
        type: integer
        format: int32
      - name: diamondCode
        in: query
        description: Filter by diamond code.
        required: false
        type: string
      - name: digitalId
        in: query
        description: Filter by digital comic id.
        required: false
        type: integer
        format: int32
      - name: upc
        in: query
        description: Filter by UPC.
        required: false
        type: string
      - name: isbn
        in: query
        description: Filter by ISBN.
        required: false
        type: string
      - name: ean
        in: query
        description: Filter by EAN.
        required: false
        type: string
      - name: issn
        in: query
        description: Filter by ISSN.
        required: false
        type: string
      - name: hasDigitalIssue
        in: query
        description: Include only results which are available digitally.
        required: false
        type: array
        items:
          type: boolean
        collectionFormat: multi
      - name: modifiedSince
        in: query
        description: Return only comics which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: characters
        in: query
        description: Return only comics which feature the specified characters (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: series
        in: query
        description: Return only comics which are part of the specified series (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: events
        in: query
        description: Return only comics which take place in the specified events (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only comics which contain the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: sharedAppearances
        in: query
        description: Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: collaborators
        in: query
        description: Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/ComicDataWrapper'
  /v1/public/creators/{creatorId}/events:
    get:
      tags:
      - public
      summary: Fetches lists of events filtered by a creator id.
      description: Fetches lists of events featuring the work of a specific creator with optional filters. See notes on individual parameters below.
      operationId: getCreatorEventsCollection
      parameters:
      - name: creatorId
        in: path
        description: The creator ID.
        required: true
        type: integer
        format: int32
      - name: name
        in: query
        description: Filter the event list by name.
        required: false
        type: string
      - name: nameStartsWith
        in: query
        description: Return events with names that begin with the specified string (e.g. Sp).
        required: false
        type: string
      - name: modifiedSince
        in: query
        description: Return only events which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: characters
        in: query
        description: Return only events which feature the specified characters (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: series
        in: query
        description: Return only events which are part of the specified series (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: comics
        in: query
        description: Return only events which take place in the specified comics (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only events which contain the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/EventDataWrapper'
  /v1/public/creators/{creatorId}/series:
    get:
      tags:
      - public
      summary: Fetches lists of series filtered by a creator id.
      description: Fetches lists of comic series in which a specific creator's work appears, with optional filters. See notes on individual parameters below.
      operationId: getCreatorSeriesCollection
      parameters:
      - name: creatorId
        in: path
        description: The creator ID.
        required: true
        type: integer
        format: int32
      - name: title
        in: query
        description: Filter by series title.
        required: false
        type: string
      - name: titleStartsWith
        in: query
        description: Return series with titles that begin with the specified string (e.g. Sp).
        required: false
        type: string
      - name: startYear
        in: query
        description: Return only series matching the specified start year.
        required: false
        type: integer
        format: int32
      - name: modifiedSince
        in: query
        description: Return only series which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: comics
        in: query
        description: Return only series which contain the specified comics (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only series which contain the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: events
        in: query
        description: Return only series which have comics that take place during the specified events (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: characters
        in: query
        description: Return only series which feature the specified characters (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: seriesType
        in: query
        description: Filter the series by publication frequency type.
        required: false
        type: string
      - name: contains
        in: query
        description: Return only series containing one or more comics with the specified format.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/SeriesDataWrapper'
  /v1/public/creators/{creatorId}/stories:
    get:
      tags:
      - public
      summary: Fetches lists of stories filtered by a creator id.
      description: Fetches lists of comic stories by a specific creator with optional filters. See notes on individual parameters below.
      operationId: getCreatorStoryCollection
      parameters:
      - name: creatorId
        in: path
        description: The ID of the creator.
        required: true
        type: integer
        format: int32
      - name: modifiedSince
        in: query
        description: Return only stories which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: comics
        in: query
        description: Return only stories contained in the specified comics (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: series
        in: query
        description: Return only stories contained the specified series (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: events
        in: query
        description: Return only stories which take place during the specified events (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: characters
        in: query
        description: Return only stories which feature the specified characters (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/StoryDataWrapper'
  /v1/public/events:
    get:
      tags:
      - public
      summary: Fetches lists of events.
      description: Fetches lists of events with optional filters. See notes on individual parameters below.
      operationId: getEventsCollection
      parameters:
      - name: name
        in: query
        description: Return only events which match the specified name.
        required: false
        type: string
      - name: nameStartsWith
        in: query
        description: Return events with names that begin with the specified string (e.g. Sp).
        required: false
        type: string
      - name: modifiedSince
        in: query
        description: Return only events which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: creators
        in: query
        description: Return only events which feature work by the specified creators (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: characters
        in: query
        description: Return only events which feature the specified characters (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: series
        in: query
        description: Return only events which are part of the specified series (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: comics
        in: query
        description: Return only events which take place in the specified comics (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only events which take place in the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/EventDataWrapper'
  /v1/public/events/{eventId}:
    get:
      tags:
      - public
      summary: Fetches a single event by id.
      description: This method fetches a single event resource.  It is the canonical URI for any event resource provided by the API.
      operationId: getEventIndividual
      parameters:
      - name: eventId
        in: path
        description: A single event.
        required: true
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/EventDataWrapper'
  /v1/public/events/{eventId}/characters:
    get:
      tags:
      - public
      summary: Fetches lists of characters filtered by an event id.
      description: Fetches lists of characters which appear in a specific event, with optional filters. See notes on individual parameters below.
      operationId: getEventCharacterCollection
      parameters:
      - name: eventId
        in: path
        description: The event ID
        required: true
        type: integer
        format: int32
      - name: name
        in: query
        description: Return only characters matching the specified full character name (e.g. Spider-Man).
        required: false
        type: string
      - name: nameStartsWith
        in: query
        description: Return characters with names that begin with the specified string (e.g. Sp).
        required: false
        type: string
      - name: modifiedSince
        in: query
        description: Return only characters which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: comics
        in: query
        description: Return only characters which appear in the specified comics (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: series
        in: query
        description: Return only characters which appear the specified series (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only characters which appear the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/CharacterDataWrapper'
  /v1/public/events/{eventId}/comics:
    get:
      tags:
      - public
      summary: Fetches lists of comics filtered by an event id.
      description: Fetches lists of comics which take place during a specific event, with optional filters. See notes on individual parameters below.
      operationId: getComicsFilteredByEvent
      parameters:
      - name: eventId
        in: path
        description: The event id.
        required: true
        type: integer
        format: int32
      - name: format
        in: query
        description: Filter by the issue format (e.g. comic, digital comic, hardcover).
        required: false
        type: string
      - name: formatType
        in: query
        description: Filter by the issue format type (comic or collection).
        required: false
        type: string
      - name: noVariants
        in: query
        description: Exclude variant comics from the result set.
        required: false
        type: array
        items:
          type: boolean
        collectionFormat: multi
      - name: dateDescriptor
        in: query
        description: Return comics within a predefined date range.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: dateRange
        in: query
        description: Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: title
        in: query
        description: Return only issues in series whose title matches the input.
        required: false
        type: string
      - name: titleStartsWith
        in: query
        description: Return only issues in series whose title starts with the input.
        required: false
        type: string
      - name: startYear
        in: query
        description: Return only issues in series whose start year matches the input.
        required: false
        type: integer
        format: int32
      - name: issueNumber
        in: query
        description: Return only issues in series whose issue number matches the input.
        required: false
        type: integer
        format: int32
      - name: diamondCode
        in: query
        description: Filter by diamond code.
        required: false
        type: string
      - name: digitalId
        in: query
        description: Filter by digital comic id.
        required: false
        type: integer
        format: int32
      - name: upc
        in: query
        description: Filter by UPC.
        required: false
        type: string
      - name: isbn
        in: query
        description: Filter by ISBN.
        required: false
        type: string
      - name: ean
        in: query
        description: Filter by EAN.
        required: false
        type: string
      - name: issn
        in: query
        description: Filter by ISSN.
        required: false
        type: string
      - name: hasDigitalIssue
        in: query
        description: Include only results which are available digitally.
        required: false
        type: array
        items:
          type: boolean
        collectionFormat: multi
      - name: modifiedSince
        in: query
        description: Return only comics which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: creators
        in: query
        description: Return only comics which feature work by the specified creators (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: characters
        in: query
        description: Return only comics which feature the specified characters (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: series
        in: query
        description: Return only comics which are part of the specified series (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: events
        in: query
        description: Return only comics which take place in the specified events (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only comics which contain the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: sharedAppearances
        in: query
        description: Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: collaborators
        in: query
        description: Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/ComicDataWrapper'
  /v1/public/events/{eventId}/creators:
    get:
      tags:
      - public
      summary: Fetches lists of creators filtered by an event id.
      description: Fetches lists of comic creators whose work appears in a specific event, with optional filters. See notes on individual parameters below.
      operationId: getEventsCreatorCollection
      parameters:
      - name: eventId
        in: path
        description: The event ID.
        required: true
        type: integer
        format: int32
      - name: firstName
        in: query
        description: Filter by creator first name (e.g. brian).
        required: false
        type: string
      - name: middleName
        in: query
        description: Filter by creator middle name (e.g. Michael).
        required: false
        type: string
      - name: lastName
        in: query
        description: Filter by creator last name (e.g. Bendis).
        required: false
        type: string
      - name: suffix
        in: query
        description: Filter by suffix or honorific (e.g. Jr., Sr.).
        required: false
        type: string
      - name: nameStartsWith
        in: query
        description: Filter by creator names that match critera (e.g. B, St L).
        required: false
        type: string
      - name: firstNameStartsWith
        in: query
        description: Filter by creator first names that match critera (e.g. B, St L).
        required: false
        type: string
      - name: middleNameStartsWith
        in: query
        description: Filter by creator middle names that match critera (e.g. Mi).
        required: false
        type: string
      - name: lastNameStartsWith
        in: query
        description: Filter by creator last names that match critera (e.g. Ben).
        required: false
        type: string
      - name: modifiedSince
        in: query
        description: Return only creators which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: comics
        in: query
        description: Return only creators who worked on in the specified comics (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: series
        in: query
        description: Return only creators who worked on the specified series (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only creators who worked on the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/CreatorDataWrapper'
  /v1/public/events/{eventId}/series:
    get:
      tags:
      - public
      summary: Fetches lists of series filtered by an event id.
      description: Fetches lists of comic series in which a specific event takes place, with optional filters. See notes on individual parameters below.
      operationId: getEventSeriesCollection
      parameters:
      - name: eventId
        in: path
        description: The event ID.
        required: true
        type: integer
        format: int32
      - name: title
        in: query
        description: Filter by series title.
        required: false
        type: string
      - name: titleStartsWith
        in: query
        description: Return series with titles that begin with the specified string (e.g. Sp).
        required: false
        type: string
      - name: startYear
        in: query
        description: Return only series matching the specified start year.
        required: false
        type: integer
        format: int32
      - name: modifiedSince
        in: query
        description: Return only series which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: comics
        in: query
        description: Return only series which contain the specified comics (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only series which contain the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: creators
        in: query
        description: Return only series which feature work by the specified creators (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: characters
        in: query
        description: Return only series which feature the specified characters (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: seriesType
        in: query
        description: Filter the series by publication frequency type.
        required: false
        type: string
      - name: contains
        in: query
        description: Return only series containing one or more comics with the specified format.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/SeriesDataWrapper'
  /v1/public/events/{eventId}/stories:
    get:
      tags:
      - public
      summary: Fetches lists of stories filtered by an event id.
      description: Fetches lists of comic stories from a specific event, with optional filters. See notes on individual parameters below.
      operationId: getEventStoryCollection
      parameters:
      - name: eventId
        in: path
        description: The ID of the event.
        required: true
        type: integer
        format: int32
      - name: modifiedSince
        in: query
        description: Return only stories which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: comics
        in: query
        description: Return only stories contained in the specified (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: series
        in: query
        description: Return only stories contained the specified series (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: creators
        in: query
        description: Return only stories which feature work by the specified creators (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: characters
        in: query
        description: Return only stories which feature the specified characters (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/StoryDataWrapper'
  /v1/public/series:
    get:
      tags:
      - public
      summary: Fetches lists of series.
      description: Fetches lists of comic series with optional filters. See notes on individual parameters below.
      operationId: getSeriesCollection
      parameters:
      - name: title
        in: query
        description: Return only series matching the specified title.
        required: false
        type: string
      - name: titleStartsWith
        in: query
        description: Return series with titles that begin with the specified string (e.g. Sp).
        required: false
        type: string
      - name: startYear
        in: query
        description: Return only series matching the specified start year.
        required: false
        type: integer
        format: int32
      - name: modifiedSince
        in: query
        description: Return only series which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: comics
        in: query
        description: Return only series which contain the specified comics (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only series which contain the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: events
        in: query
        description: Return only series which have comics that take place during the specified events (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: creators
        in: query
        description: Return only series which feature work by the specified creators (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: characters
        in: query
        description: Return only series which feature the specified characters (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: seriesType
        in: query
        description: Filter the series by publication frequency type.
        required: false
        type: string
      - name: contains
        in: query
        description: Return only series containing one or more comics with the specified format.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/SeriesDataWrapper'
  /v1/public/series/{seriesId}:
    get:
      tags:
      - public
      summary: Fetches a single comic series by id.
      description: This method fetches a single comic series resource.  It is the canonical URI for any comic series resource provided by the API.
      operationId: getSeriesIndividual
      parameters:
      - name: seriesId
        in: path
        description: Filter by series title.
        required: true
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/SeriesDataWrapper'
  /v1/public/series/{seriesId}/characters:
    get:
      tags:
      - public
      summary: Fetches lists of characters filtered by a series id.
      description: Fetches lists of characters which appear in specific series, with optional filters. See notes on individual parameters below.
      operationId: getSeriesCharacterWrapper
      parameters:
      - name: seriesId
        in: path
        description: The series id.
        required: true
        type: integer
        format: int32
      - name: name
        in: query
        description: Return only characters matching the specified full character name (e.g. Spider-Man).
        required: false
        type: string
      - name: nameStartsWith
        in: query
        description: Return characters with names that begin with the specified string (e.g. Sp).
        required: false
        type: string
      - name: modifiedSince
        in: query
        description: Return only characters which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: comics
        in: query
        description: Return only characters which appear in the specified comics (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: events
        in: query
        description: Return only characters which appear comics that took place in the specified events (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only characters which appear the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/CharacterDataWrapper'
  /v1/public/series/{seriesId}/comics:
    get:
      tags:
      - public
      summary: Fetches lists of comics filtered by a series id.
      description: Fetches lists of comics which are published as part of a specific series, with optional filters. See notes on individual parameters below.
      operationId: getComicsFilteredBySeries
      parameters:
      - name: seriesId
        in: path
        description: The series ID.
        required: true
        type: integer
        format: int32
      - name: format
        in: query
        description: Filter by the issue format (e.g. comic, digital comic, hardcover).
        required: false
        type: string
      - name: formatType
        in: query
        description: Filter by the issue format type (comic or collection).
        required: false
        type: string
      - name: noVariants
        in: query
        description: Exclude variant comics from the result set.
        required: false
        type: array
        items:
          type: boolean
        collectionFormat: multi
      - name: dateDescriptor
        in: query
        description: Return comics within a predefined date range.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: dateRange
        in: query
        description: Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: title
        in: query
        description: Return only issues in series whose title matches the input.
        required: false
        type: string
      - name: titleStartsWith
        in: query
        description: Return only issues in series whose title starts with the input.
        required: false
        type: string
      - name: startYear
        in: query
        description: Return only issues in series whose start year matches the input.
        required: false
        type: integer
        format: int32
      - name: issueNumber
        in: query
        description: Return only issues in series whose issue number matches the input.
        required: false
        type: integer
        format: int32
      - name: diamondCode
        in: query
        description: Filter by diamond code.
        required: false
        type: string
      - name: digitalId
        in: query
        description: Filter by digital comic id.
        required: false
        type: integer
        format: int32
      - name: upc
        in: query
        description: Filter by UPC.
        required: false
        type: string
      - name: isbn
        in: query
        description: Filter by ISBN.
        required: false
        type: string
      - name: ean
        in: query
        description: Filter by EAN.
        required: false
        type: string
      - name: issn
        in: query
        description: Filter by ISSN.
        required: false
        type: string
      - name: hasDigitalIssue
        in: query
        description: Include only results which are available digitally.
        required: false
        type: array
        items:
          type: boolean
        collectionFormat: multi
      - name: modifiedSince
        in: query
        description: Return only comics which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: creators
        in: query
        description: Return only comics which feature work by the specified creators (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: characters
        in: query
        description: Return only comics which feature the specified characters (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: events
        in: query
        description: Return only comics which take place in the specified events (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only comics which contain the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: sharedAppearances
        in: query
        description: Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: collaborators
        in: query
        description: Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: '#/definitions/ComicDataWrapper'
  /v1/public/series/{seriesId}/creators:
    get:
      tags:
      - public
      summary: Fetches lists of creators filtered by a series id.
      description: Fetches lists of comic creators whose work appears in a specific series, with optional filters. See notes on individual parameters below.
      operationId: getSeriesCreatorCollection
      parameters:
      - name: seriesId
        in: path
        description: The series ID.
        required: true
        type: integer
        format: int32
      - name: firstName
        in: query
        description: Filter by creator first name (e.g. brian).
        required: false
        type: string
      - name: middleName
        in: query
        description: Filter by creator middle name (e.g. Michael).
        required: false
        type: string
      - name: lastName
        in: query
        description: Filter by creator last name (e.g. Bendis).
        required: false
        type: string
      - name: suffix
        in: query
        description: Filter by suffix or honorific (e.g. Jr., Sr.).
        required: false
        type: string
      - name: nameStartsWith
        in: query
        description: Filter by creator names that match critera (e.g. B, St L).
        required: false
        type: string
      - name: firstNameStartsWith
        in: query
        description: Filter by creator first names that match critera (e.g. B, St L).
        required: false
        type: string
      - name: middleNameStartsWith
        in: query
        description: Filter by creator middle names that match critera (e.g. Mi).
        required: false
        type: string
      - name: lastNameStartsWith
        in: query
        description: Filter by creator last names that match critera (e.g. Ben).
        required: false
        type: string
      - name: modifiedSince
        in: query
        description: Return only creators which have been modified since the specified date.
        required: false
        type: string
        format: date
      - name: comics
        in: query
        description: Return only creators who worked on in the specified comics (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: events
        in: query
        description: Return only creators who worked on comics that took place in the specified events (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: stories
        in: query
        description: Return only creators who worked on the specified stories (accepts a comma-separated list of ids).
        required: false
        type: array
        items:
          type: integer
          format: int32
        collectionFormat: multi
      - name: orderBy
        in: query
        description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: limit
        in: query
        description: Limit the result set to the specified number of resources.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Skip the specified number of resources in the result set.
        required: false
        type: integer
        format: int32
      responses:
        "200":
[...]
